@import url('https://fonts.googleapis.com/css2?family=Montserrat');


* {
    margin: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
    --bs-gutter-x: 0rem !important;
}

.preco-mobile {
    display: none;
}


@media only screen and (max-width: 600px) {
    .header {
        padding: 0 20px;
    }

    .info {
        margin-top: 20px;
    }
    .img-fluid {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    .preco-mobile {
        margin: 2vh;
        text-align: center;
    }
    .carro-mobile{
        font-weight: bold;
    }
    .preco-mobile>span {
        color: #FF8A48;
    }

    .preco-mobile>h1 {
        font-weight: 800;
        font-size: 5vh;
        line-height: 120%;
    }

    .preco-mobile>img {
        margin-top: 20px;
    }

    .seta {
        text-align: center;
        margin: 5%;
    }

    .adicionais {
        display: grid;
        font-weight: bold;
    }
    .carro-mobile {
        margin-bottom: 20px;
    }

    .btn-outline-success {
        background-color: #2C2D33 !important;
        color: #FFFF !important;
    }

    .container {
        background-color: #EDEDED !important;
    }

    .info {
        background-color: #2C2D33;
        color: #FFFF;
        text-align: center;
        font-weight: bold;
        border-radius: 10px;
        padding: 39px;
    }

    .quilometragem {
        margin-bottom: 36px;
    }

    .ano {
        margin-top: 36px;
        margin-bottom: 36px;
    }

    .alert {
        font-size: 20px;
        font-weight: bold;
        color: #2C2D33;
    }

    #btn-primary {
        font-weight: bold;
        background-color: #FF5C00;
    }

    .adicionais>span>img {
        margin: 25px;
    }

    #gap-2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer {
        background-color: #131416;
        color: #fff;
        display: grid;
        padding: 70px;
    }

    .logo {
        margin-bottom: 50px;
    }

    #numero {
        text-decoration: underline;
        margin-bottom: 50px;
        font-weight: bold;
        letter-spacing: 0.5px;
    }

    #endereco {
        margin-bottom: 50px;
        font-size: 14;
        line-height: 21px;
        letter-spacing: 0.5;

    }

    #copyright {
        font-size: 10px;
        letter-spacing: 0.5px;
    }

    #copyright>a {
        color: #fff;
    }

    button:hover {
        opacity: 0.5;
    }
}